<h2><%= @user.username %> Profile</h2>
<p>Email: <%= @user.email %> </p>
<p>Username: <%= @user.username %> </p>
<p><%= link_to "Edit Profile",  edit_user_registration_path, class: "btn btn-primary" %></p>