<% if @user.user_items.nil? %>
	<p>No items yet. Please add one below.</p>
<% else %>
	<% @items.each do |item| %>
		<div class="row">
			<div class="col-md-6">
				<p><%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok' %><%= item.name %> </p>
			</div>
		</div>
	<% end %>
<% end %>